* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    position: relative;
    background-color: rgb(29, 108, 186);
    height: 12vh;
}

main {
    height: 76vh;
}

.container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    line-height: 80px;
}

.links .link{
    display: inline-block;
}

.links .link a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 25px;
    color: aliceblue;
}

.links .link a:hover {
    color: #393543;
}



/* Home */


.home-h2, .producto-encontrado {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.input{ 
    display: flex;
    margin: 10px auto;
    width: 30%;
    border-radius: 0.3rem;
    border: 1px solid #d3d6e4;
    height: 22px;
    text-align: center;
}

.submit {
    display: flex;
    margin: auto;
    width: 8%;
}



/* input::placeholder {
    background-image: "{{ url_for('img', filename='lupita.svg')}}";
    background-image: url(../img/lupita.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: left center;
} */



/* Listado de productos */

.productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.productos-con-stock, .productos-sin-stock {
    color: rgb(8, 16, 8);
    margin: 10px;
    display: inline-block;
    border-style: outset;
    border-width: 5px;
    border-color: white;
    border-radius: 7px;

}

.productos-sin-stock {
    color: rgb(174, 165, 165);    
}

footer {
    position: relative;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(29, 108, 186);
}

.ventas {
    border-style: outset;
    border-width: 5px;
    border-color: white;
}

.comienzo {
    display: inline-block;
    justify-items: center;
}

th, td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}

.tabla{
    border-collapse: collapse;
    margin-top: 22px;
}

.sin-stock {
    background-color: red;
    border: 1px solid #000 inherit;
    border-radius: 3px;
    width: 40%;
}

/* #FFFFFF
    #DFEBD3 */