* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* @media screen and (min-widht: 600px) {
    .menu_bar {
        display:none;
    }
    
    header {
        width: 100%;
        background-color: #000;
    }
    
    header nav {
        background:#023859;
        z-index:1000;
        max-width: 1000px;
        width:95%;
        margin:20px auto;
    }
    
    header nav ul {
        list-style:none;
    }
    
    header section nav ul li {
        display:inline-block;
        position: relative;
    }
    
    header section nav ul li:hover {
        background:#E6344A;
    }
    
    header section nav ul li a {
        color:#fff;
        display:block;
        text-decoration:none;
        padding: 20px;
    }
} */

/* @media screen and (min-width: 601px) and (max-width: 1200px) {

}

@media screen and (min-width: 1201px) {

} */

footer {
    background-color: rgb(61, 70, 79);
}

/* header {
    position: relative;
    height: 12vh;
} */



main {
    height: 76vh;   
}

body {
    background-color: white;
}
nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    line-height: 80px;
    border-style: solid;
    border-width: 1px;
    border-top: #fff;
    border-left: #fff;
    border-right: #fff;
}

.input-nav{ 
    display: flex;
    margin: 10px auto;
    width: 90%;
    border-radius: 0.3rem;
    border: 1px solid #d3d6e4;
    height: 22px;
    text-align: center;
}


.links .link{
    display: inline-block;
}

.links .link a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    margin: 0 95px;
    color: rgb(106, 107, 108);
}

.links .link a:hover {
    color: #b7b3c0;
}

img {
    height: 10%;
}

/* Home */


.bloque {
    margin: 15px;
}

.home-h2, .producto-encontrado {
    display: flex;
    justify-content: center;
}

.input{ 
    display: flex;
    margin: 10px auto;
    width: 40%;
    border-radius: 0.3rem;
    border: 1px solid #d3d6e4;
    height: 22px;
    text-align: center;
}

.submit {
    display: flex;
    margin: auto;
    width: 8%;
}



/* input::placeholder {
    background-image: "{{ url_for('img', filename='lupita.svg')}}";
    background-image: url(../img/lupita.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: left center;
} */



/* Listado de productos */

.productos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.productos-con-stock, .productos-sin-stock {
    color: rgb(8, 16, 8);
    margin: 10px;
    display: inline-block;
    border-radius: 0.5px;
    border-style: solid;

}

.productos-sin-stock {
    color: rgb(174, 165, 165);    
}

footer {
    /* position: relative; */
    height: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #dddddd;
    padding-left: 35px;
    padding-right: 35px;
}

.ventas {
    border-style: outset;
    border-width: 5px;
    border-color: white;
}

.comienzo {
    display: inline-block;
    justify-items: center;
}

th, td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dddddd;
}

.tabla{
    border-collapse: collapse;
    margin-top: 22px;
}

.sin-stock {
    background-color: rgba(255, 0, 0, 0.688);
    border: 1px solid #000 inherit;
    color: #000;
    border-radius: 3px;
    width: 40%;
    padding-left: 10px;
}


.filtro-section {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.filtro {
    margin: 0px 10px;
}

/* #FFFFFF
    #DFEBD3 */