{% extends "layout.html" %}

{% block main %}

<h2>Detalle de productos</h2> <br>

<!-- <div class="productos-con-stock">
    <img src="{{ url_for('static', filename='remera.jpeg') }}" alt="remera"> <br>
    <span>Código: </span>100 <br>
    <span>Nombre: </span>remera talle m <br>
    <span>Categorías: </span>remera, remera de futbol <br>
    <span>Precio: $</span>4500 <br>
    <span>Stock: </span>100
</div> -->


{% for prod in producto %}
<div class="productos">
        {% if prod.codigo == id %}
            <div class="productos-con-stock">
                <img src="{{ url_for('static', filename='remera.jpeg') }}" alt="remera"> <br>
                <span>Código: </span>{{ prod.codigo }} <br>
                <span>Nombre: </span>{{ prod.nombre }} <br>
                <span>Categorías: </span>{{ prod.categorias }} <br>
                <span>Precio: $</span>{{ prod.precio }} <br>
                <span>Stock: </span>{{ prod.stock }}
            </div>
        {% endif %}
        
</div>
{% endfor %}

{% endblock %}
